<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
  <meta charset="utf-8" />
  <meta name="x-apple-disable-message-reformatting" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
    />
  <meta
    name="format-detection"
    content="telephone=no, date=no, address=no, email=no, url=no"
    />
  <meta name="color-scheme" content="light dark" />
  <meta
    name="supported-color-schemes"
    content="light dark"
    />
  <!--[if mso]>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings
        xmlns:o="urn:schemas-microsoft-com:office:office"
      >
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <style>
    td,
    th,
    div,
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Segoe UI", sans-serif;
      mso-line-height-rule: exactly;
    }
  </style>
  <![endif]-->

  <title>Verify your email address</title>
  <style>
      /* Your custom CSS resets for email */
      /*
 * Here is where you can add your global email CSS resets.
 *
 * We use a custom, email-specific CSS reset, instead
 * of Tailwind's web-optimized `base` layer.
 *
 * Styles defined here will be inlined.
*/
      img {
          max-width: 100%;
          vertical-align: middle;
          line-height: 1;
          border: 0;
      }
      /* Tailwind CSS components */
      /**
 * @import here any custom CSS components - that is, CSS that
 * you'd want loaded before the Tailwind utilities, so the
 * utilities can still override them.
*/
      /* Tailwind CSS utility classes */
      .absolute {
          position: absolute;
      }
      .m-0 {
          margin: 0;
      }
      .mb-1 {
          margin-bottom: 4px;
      }
      .mb-4 {
          margin-bottom: 16px;
      }
      .mb-6 {
          margin-bottom: 24px;
      }
      .mt-12 {
          margin-top: 48px;
      }
      .inline-block {
          display: inline-block;
      }
      .table {
          display: table;
      }
      .hidden {
          display: none;
      }
      .w-1-2 {
          width: 50%;
      }
      .w-12 {
          width: 48px;
      }
      .w-552px {
          width: 552px;
      }
      .w-600px {
          width: 600px;
      }
      .w-full {
          width: 100%;
      }
      .max-w-full {
          max-width: 100%;
      }
      .cursor-default {
          cursor: default;
      }
      .rounded {
          border-radius: 4px;
      }
      .bg-blue-600 {
          background-color: #2563eb;
      }
      .bg-slate-200 {
          background-color: #e2e8f0;
      }
      .bg-slate-300 {
          background-color: #cbd5e1;
      }
      .bg-slate-50 {
          background-color: #f8fafc;
      }
      .bg-white {
          background-color: #fff;
      }
      .bg-cover {
          background-size: cover;
      }
      .bg-top {
          background-position: top;
      }
      .bg-no-repeat {
          background-repeat: no-repeat;
      }
      .p-0 {
          padding: 0;
      }
      .p-12 {
          padding: 48px;
      }
      .p-6 {
          padding: 24px;
      }
      .px-12 {
          padding-left: 48px;
          padding-right: 48px;
      }
      .px-6 {
          padding-left: 24px;
          padding-right: 24px;
      }
      .py-4 {
          padding-top: 16px;
          padding-bottom: 16px;
      }
      .pb-8 {
          padding-bottom: 32px;
      }
      .pl-4 {
          padding-left: 16px;
      }
      .pr-4 {
          padding-right: 16px;
      }
      .text-left {
          text-align: left;
      }
      .text-center {
          text-align: center;
      }
      .text-right {
          text-align: right;
      }
      .align-top {
          vertical-align: top;
      }
      .font-sans {
          font-family: ui-sans-serif, system-ui, -apple-system,
          "Segoe UI", sans-serif;
      }
      .text-2xl {
          font-size: 24px;
      }
      .text-4xl {
          font-size: 36px;
      }
      .text-base {
          font-size: 16px;
      }
      .text-lg {
          font-size: 18px;
      }
      .text-sm {
          font-size: 14px;
      }
      .text-xl {
          font-size: 20px;
      }
      .text-xs {
          font-size: 12px;
      }
      .font-semibold {
          font-weight: 600;
      }
      .uppercase {
          text-transform: uppercase;
      }
      .leading-12 {
          line-height: 48px;
      }
      .leading-16 {
          line-height: 64px;
      }
      .leading-6 {
          line-height: 24px;
      }
      .leading-8 {
          line-height: 32px;
      }
      .leading-none {
          line-height: 1;
      }
      .text-black {
          color: #000;
      }
      .text-blue-600 {
          color: #4338ca;
      }
      .text-slate-50 {
          color: #f8fafc;
      }
      .text-slate-500 {
          color: #64748b;
      }
      .text-slate-600 {
          color: #475569;
      }
      .text-slate-700 {
          color: #334155;
      }
      .text-white {
          color: #fff;
      }
      .mso-font-width--100pc {
          mso-font-width: -100%;
      }
      .shadow-sm {
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
      .-webkit-font-smoothing-antialiased {
          -webkit-font-smoothing: antialiased;
      }
      .text-decoration-none {
          text-decoration: none !important;
      }
      .word-break-break-word {
          word-break: break-word;
      }
      /* Your custom utility classes */
      /*
 * Here is where you can define your custom utility classes.
 *
 * We wrap them in the `utilities` @layer directive, so
 * that Tailwind moves them to the correct location.
 *
 * More info:
 * https://tailwindcss.com/docs/functions-and-directives#layer
*/
      .hover-text-indigo-500:hover {
          color: #6366f1 !important;
      }
      .hover-important-text-decoration-underline:hover {
          text-decoration: underline !important;
      }
      @media (max-width: 600px) {
          .sm-mt-8 {
              margin-top: 32px !important;
          }
          .sm-inline-block {
              display: inline-block !important;
          }
          .sm-w-6 {
              width: 24px !important;
          }
          .sm-w-full {
              width: 100% !important;
          }
          .sm-px-0 {
              padding-left: 0 !important;
              padding-right: 0 !important;
          }
          .sm-px-4 {
              padding-left: 16px !important;
              padding-right: 16px !important;
          }
          .sm-px-6 {
              padding-left: 24px !important;
              padding-right: 24px !important;
          }
          .sm-py-8 {
              padding-top: 32px !important;
              padding-bottom: 32px !important;
          }
          .sm-pb-8 {
              padding-bottom: 32px !important;
          }
          .sm-text-3xl {
              font-size: 30px !important;
          }
          .sm-leading-10 {
              line-height: 40px !important;
          }
          .sm-leading-8 {
              line-height: 32px !important;
          }
      }
  </style>
</head>
<body
  class="m-0 p-0 w-full word-break-break-word -webkit-font-smoothing-antialiased bg-slate-50"
>
<div class="hidden">
  Please confirm your email address in order to activate
  your account. &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847; &#8199;&#65279;&#847;
  &#8199;&#65279;&#847;
</div>
<div
  role="article"
  aria-roledescription="email"
  aria-label="Confirm your email address"
  lang="en"
>

  <div class="bg-slate-50 sm-px-4 font-sans">
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <tr>
        <td class="w-552px max-w-full">
          <div class="mt-12 sm-mt-8 px-12 sm-px-6 text-left">
            <a href="http://127.1.0.0:3000/">
              <%== image_tag("realle-black.png", alt: "Realle-Logo", width: 70 ) %>
            </a>
          </div>
          <table
            class="w-full"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            <tr>
              <td
                class="p-12 sm-px-6 text-base text-slate-700 bg-white rounded shadow-sm"
              >
                <h1
                  class="m-0 mb-6 text-2xl sm-leading-8 text-black font-semibold"
                >
                  Hello,
                </h1>

                <p class="m-0 leading-6">
                  Thanks for signing up for Realle!
                  <br />
                  <br />
                  Please confirm your email address by
                  clicking the button below:
                </p>

                <div
                  role="separator"
                  style="line-height: 24px"
                >
                  &zwj;
                </div>

                <div class="text-center">
                  <a
                    href="<%= @rodauth.verify_account_email_link %>"
                    class="inline-block py-4 px-6 text-base leading-none font-semibold rounded text-slate-50 bg-blue-600 text-decoration-none"
                  >
                    <!--[if mso]>
                      <i
                        class="mso-font-width--100pc"
                        style="
                          letter-spacing: 32px;
                          mso-text-raise: 30px;
                        "
                        hidden=""
                        >&nbsp;</i
                      >
                    <![endif]-->
                    <span class="text-slate-50" style="mso-text-raise: 16px">
													Verify email address &rarr;
												</span>
                    <!--[if mso]>
                      <i
                        class="mso-font-width--100pc"
                        style="letter-spacing: 32px"
                        hidden=""
                        >&nbsp;</i
                      >
                    <![endif]-->
                  </a>
                </div>

                <div
                  role="separator"
                  class="false bg-slate-200"
                  style="
                  height: 1px;
                    line-height: 1px;
                    margin: 0;
                    margin-top: 32px;
                    margin-bottom: 32px;
                  "
                >
                  &zwj;
                </div>

                <p class="m-0">
                  If you didn't sign up for Realle, you
                  can safely ignore this email.
                  <br />
                  <br />
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td
                class="text-center text-slate-600 text-xs px-6"
              >
                <p class="cursor-default">
                  <a
                    href="https://maizzle.com/docs/"
                    class="text-blue-600 text-decoration-none hover-important-text-decoration-underline"
                  >Help</a
                  >
                  &bull;
                  <a
                    href="https://github.com/maizzle"
                    class="text-blue-600 text-decoration-none hover-important-text-decoration-underline"
                  >Github</a
                  >
                  &bull;
                  <a
                    href="https://twitter.com/maizzlejs"
                    class="text-blue-600 text-decoration-none hover-important-text-decoration-underline"
                  >Twitter</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
