@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .container {
        @apply flex min-h-full flex-col align-items-center px-6 py-4 lg:px-8 lg:min-h-screen;
    }

    .form-container {
        @apply md:mx-auto md:w-full md:max-w-md sm:max-w-sm;
    }

    .form-control {
        @apply block w-full rounded-md border-0 bg-white/[.08] py-3 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6 sm:py-2 md:py-3 lg:py-4;
    }

    .form-group {
        @apply mt-2;
    }

    .form-label {
        @apply block text-sm font-medium leading-6 text-white;
    }

    .form-submit {
        @apply flex w-full justify-center rounded-md bg-blue-500 px-3 py-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500  md:py-3 lg:py-4;
    }

    .form-section-title {
        @apply mt-8 text-xl font-bold leading-9 tracking-tight text-white;
    }

    .form-section-title {
        @apply mt-8 text-2xl font-bold leading-9 tracking-tight text-white;
    }

    .form-with {
        @apply space-y-6;
    }

    .header-container {
        @apply md:mx-auto md:w-full md:max-w-md sm:max-w-sm;
    }

    .header-logo {
        @apply h-16 w-auto;
    }

    .header-title {
        @apply mt-8 text-2xl font-bold leading-9 tracking-tight text-white;
    }

    .header-subtitle {
        @apply text-base font-bold text-neutral-400;
    }

    .invalid-feedback-container {
        @apply bg-rose-300 rounded-md py-1 px-2;
    }

    .invalid-feedback {
        @apply mt-2 text-sm text-red-600;
    }
}

