<%# unless rodauth.login_form_footer_links.empty? %>

<!--  <ul class="mt-10 text-center text-sm text-gray-400">-->
    <%# rodauth.login_form_footer_links.sort.each do |_, link, text| %>
<!--      <li class="font-semibold leading-6 text-blue-400 hover:text-blue-300"><%#= link_to text, link %></li>-->
    <%# end %>
<!--  </ul>-->
<%# end %>
