<div class="header-container">
  <%= image_tag "realle-white.png", class: "header-logo", alt: "Realle" %>
  <h2 class="header-title">Sign in to your account</h2>
  <p class="header-subtitle">Not your device? Use a private or incognito window to sign in.</p>
</div>

<div class="form-container">
  <%= form_with url: rodauth.login_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
    <% if rodauth.skip_login_field_on_login? %>
      <div>
        <%= form.label "login", "Email", class: "form-label" %>
        <div class="mt-2">
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], placeholder: "Email Address", id: "login", readonly: true, class: "form-control" %>
        </div>
      </div>
    <% else %>
      <div>
        <%= form.label "login", "Email", class: "form-label" %>
        <div class="mt-2">
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], placeholder: "Email Address", id: "login", autocomplete: "email", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
        </div>
      </div>
    <% end %>

    <% unless rodauth.skip_password_field_on_login? %>
      <div>
        <div class="flex items-center justify-between">
          <%= form.label "password", rodauth.password_label, class: "form-label" %>
          <div class="text-sm">
            <a href="reset-password-request" class="font-semibold text-blue-400 hover:text-blue-300">Forgot
              password?</a>
          </div>
        </div>
        <div class="mt-2">
          <%= form.password_field rodauth.password_param, value: "", placeholder: "Password", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
        </div>
      </div>
    <% end %>
    <% if rodauth.field_error(rodauth.login_param) or rodauth.field_error(rodauth.password_param) %>
      <div class="invalid-feedback-container">
        <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) or rodauth.field_error(rodauth.password_param) %>
      </div>
    <% end %>
    <div>
      <%= form.submit rodauth.login_button, class: "form-submit" %>
    </div>
  <% end %>
  <p class="mt-10 text-center text-sm text-gray-400">
    Not a member?
    <a href="create-account" class="font-semibold leading-6 text-blue-400 hover:text-blue-300">Create a new
      account</a>
  </p>
</div>