<div class="header-container">
  <%= image_tag "realle-white.png", class: "header-logo", alt: "Realle" %>
  <h2 class="header-title">Create a new account</h2>
    <p class="header-subtitle" >Not your device? Use a private or incognito window to sign up.</p>
</div>

<div class="form-container">
<%= form_with  url: rodauth.create_account_path, class: "form-with",method: :post, data: { turbo: false } do |form| %>
  <div>
    <%= form.label "login", "Email", class: "form-label" %>
    <div class="form-group">
      <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], placeholder: "Email Address" , id: "login", autocomplete: "email", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
    </div>
  </div>
  <% if rodauth.require_login_confirmation? %>
    <div>
      <%= form.label "login-confirm", rodauth.login_confirm_label, class: "form-label" %>
      <div class="form-group">
        <%= form.email_field rodauth.login_confirm_param, value: params[rodauth.login_confirm_param],placeholder: "Confirm Email Address", id: "login-confirm", autocomplete: "email", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.login_confirm_param)}", aria: ({ invalid: true, describedby: "login-confirm_error_message", class: "invalid-feedback" } if rodauth.field_error(rodauth.login_confirm_param)) %>
      </div>
    </div>
  <% end %>

  <% if rodauth.create_account_set_password? %>
    <div>
      <%= form.label "password", rodauth.password_label, class: "form-label" %>
      <div class="form-group">
        <%= form.password_field rodauth.password_param, value: "",placeholder: "Password", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
      </div>
    </div>
    <% if rodauth.require_password_confirmation? %>
      <div>
        <%= form.label "password-confirm", rodauth.password_confirm_label, class: "form-label" %>
        <div class="form-group">
          <%= form.password_field rodauth.password_confirm_param, value: "",placeholder: "Confirm Password", id: "password-confirm", autocomplete: "new-password", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_confirm_param)}", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
          <%= content_tag(:p, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
          <%= content_tag(:p, "Passwords do not match.", class: "invalid-feedback", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.submit rodauth.create_account_button, class: "form-submit" %>
  </div>
<% end %>
  <p class="mt-10 text-center text-sm text-gray-400">
    Already have an account?
    <a href="login" class="font-semibold leading-6 text-blue-400 hover:text-blue-300">Login</a>
  </p>
</div>
</div>