<div class="header-container">
  <%= image_tag "realle-white.png", class: "header-logo", alt: "Realle" %>
  <h2 class="header-title">Sign in with Email</h2>
  <p class="header-subtitle" >Not your device? Use a private or incognito window to sign in.</p>
</div>
<div class="form-container">
<%= form_with url: rodauth.email_auth_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>

  <div class="form-group">
    <%= form.submit rodauth.login_button, class: "form-submit" %>
  </div>
<% end %>
</div>