<%= form_with url: rodauth.logout_path, class: "form-with",method: :post, data: { turbo: false } do |form| %>
  <% if rodauth.features.include?(:active_sessions) %>
    <div class="form-group">
      <div class="form-check">
        <%= form.check_box rodauth.global_logout_param, id: "global-logout", class: "form-check-input", include_hidden: false %>
        <%= form.label "global-logout", rodauth.global_logout_label, class: "form-check-label" %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.submit rodauth.logout_button, class: "form-submit" %>
  </div>
<% end %>
