<div class="header-container">
  <%= image_tag "realle-white.png", class: "header-logo", alt: "Realle" %>
  <h2 class="header-title">Enter OTP</h2>
  <p class="header-subtitle">Enter the one time passcode sent to your mutltifactor authentication method.</p>
</div>
<div class="form-container">
<%= form_with url: rodauth.otp_auth_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
  <div class="form-group">
    <%= form.label "otp-auth-code", rodauth.otp_auth_label, class: "form-label" %>
    <div class="row">
      <div class="col-sm-3">
        <%= form.text_field rodauth.otp_auth_param, value: "", id: "otp-auth-code", autocomplete: "off", inputmode: "numeric", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.otp_auth_param)}", aria: ({ invalid: true, describedby: "otp-auth-code_error_message" } if rodauth.field_error(rodauth.otp_auth_param)) %>
        <%= content_tag(:span, rodauth.field_error(rodauth.otp_auth_param), class: "invalid-feedback", id: "otp-auth-code_error_message") if rodauth.field_error(rodauth.otp_auth_param) %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit rodauth.otp_auth_button, class: "form-submit" %>
  </div>
<% end %>
</div>