<div class="form-container">
  <%= form_with url: rodauth.reset_password_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
    <div>
      <%= form.label "password", rodauth.password_label, class: "form-label" %>
    <div class="form-group">
    <%= form.password_field rodauth.password_param, value: "", placeholder: "Password",  id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
    </div>
    </div>

    <% if rodauth.require_password_confirmation? %>
      <div>
        <%= form.label "password-confirm", rodauth.password_confirm_label, class: "form-label" %>
      <div class="form-group">
      <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_confirm_param)}", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
        <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "invalid-feedback", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
      </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.submit rodauth.reset_password_button, class: "form-submit" %>
    </div>
  <% end %>
</div>