<div class="header-container">
  <%= image_tag "realle-white.png", class: "header-logo", alt: "Realle" %>
  <h2 class="header-title">Reset Password</h2>
  <p class="header-subtitle" >Not your device? Use a private or incognito window to reset your password.</p>
</div>

<div class="form-container">
  <%= form_with class: "form-with", url: rodauth.reset_password_request_path, method: :post, data: { turbo: false } do |form| %>

    <% if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param) %>
      <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
    <% else %>
      <div>
        <%= form.label "login", "Email", class: "form-label" %>
        <div class="form-group">
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], placeholder: "Email Address",id: "login", autocomplete: "email", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
          <%= content_tag(:p, "Invalid credentials. Please try again or create a new account.", class: "invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
        </div>
      </div>
    <% end %>
    <%= form.submit rodauth.reset_password_request_button, class: "form-submit" %>
  <% end %>
  <p class="mt-6 text-center text-sm text-gray-400">
    Not a member?
    <a href="create-account" class="font-semibold leading-6 text-blue-400 hover:text-blue-300">Create a new
      account</a>
  </p>
  <p class="mt-6 text-center text-sm text-gray-400">
    Know your password?
    <a href="create-account" class="font-semibold leading-6 text-blue-400 hover:text-blue-300">Sign in</a>
  </p>
</div>
