<div class="form-container">
<%= form_with url: rodauth.unlock_account_request_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
  <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>

  <%== rodauth.unlock_account_request_explanatory_text %>

  <div class="form-group">
    <%= form.submit rodauth.unlock_account_request_button, class: "form-submit" %>
  </div>
<% end %>
</div>