<div class="form-container">
<%= form_with url: rodauth.unlock_account_path, class: "form-with",method: :post, data: { turbo: false } do |form| %>
  <%== rodauth.unlock_account_explanatory_text %>

  <% if rodauth.unlock_account_requires_password? %>
    <div>
      <%= form.label "password", rodauth.password_label, class: "form-label" %>
    <div class="form-group">
    <%= form.password_field rodauth.password_param, value: "", placeholder: "Password", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
    </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.submit rodauth.unlock_account_button, class: "form-submit" %>
  </div>
<% end %>
</div>