  <div class="header-container">
    <%= image_tag "realle-white.png", class: "header-logo", alt: "Realle" %>
    <h2 class="header-title">Sign in to your account</h2>
    <p class="header-subtitle" >Not your device? Use a private or incognito window to sign in.</p>
  </div>

  <div class="form-container">
  <%= form_with url: rodauth.verify_account_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
    <% if rodauth.verify_account_set_password? %>
      <div>
        <%= form.label "password", rodauth.password_label, class: "form-label" %>
        <div class="form-group">
          <%= form.password_field rodauth.password_param, value: "", placeholder: "Password",id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
        </div>
      </div>

      <% if rodauth.require_password_confirmation? %>
        <div>
          <%= form.label "password-confirm", rodauth.password_confirm_label, class: "form-label" %>
          <div class="form-group">
            <%= form.password_field rodauth.password_confirm_param, value: "", placeholder: "Confirm Password", id: "password-confirm", autocomplete: "new-password", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_confirm_param)}", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "invalid-feedback", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="form-group">
      <%= form.submit rodauth.verify_account_button, class: "form-submit" %>
    </div>
  <% end %>
</div>