<div class="header-container">
  <%= image_tag "realle-white.png", class: "header-logo", alt: "Realle" %>
  <h2 class="header-title">Sign in to your account</h2>
  <p class="header-subtitle" >Not your device? Use a private or incognito window to sign in.</p>
</div>
<div class="form-container">
  <%= form_with url: rodauth.verify_account_resend_path, class: "form-with", method: :post, data: { turbo: false } do |form| %>
    <p class="text-gray-400 font-medium"> If you no longer have the email to verify the account, you can request that it be resent to you by clicking the button below. </p>

    <% if params[rodauth.login_param] %>
      <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
    <% else %>
      <div>
        <%= form.label "login", rodauth.login_label, class: "form-label" %>
        <div class="form-group">
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], placeholder: "Email",id: "login", autocomplete: "email", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.submit rodauth.verify_account_resend_button, class: "form-submit" %>
    </div>
  <% end %>
</div>