<!DOCTYPE html>
<html class="h-full bg-neutral-900">
  <head>
    <title>Auth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main >
      <div class="flex min-h-full flex-col m-auto justify-center items-center px-6 py-4 lg:px-8 lg:min-h-screen md:mx-auto md:w-full md:max-w-md">
        <div>
      <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
